# ignore all . folders but include . files
.*/

models/__pycache__/
utils/__pycache__/
__pycache__/
checkpoints/
junk.py
junk/
SavedModels
NoisyModel
tmp
*_gitignore*
*_~*
parabolic_interpolation/results/
SLS_param.tar.gz
SLS_param/
fashion_model_fp
quantize.py.backup

cifar10_gmm
cifar10_gmm20
cifar10_pca
